@model IEnumerable<MYCARS.Models.Car>

<a asp-controller="Home" asp-action="Cars" class="btn btn-primary btn-go-to-cars">Go to Cars</a>
<a asp-controller="Home" asp-action="Skateboards" class="btn btn-primary btn-go-to-cars">Go to Skateboards</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-go-to-cars">Go to Bikes</a>
<a asp-controller="Home" asp-action="GenerateReport" class="btn btn-primary btn-go-to-cars">Go to Report</a>

<div class="centered">
    <h2 class="page-title">Cars List</h2>
    <a asp-action="CreateCar" asp-controller="Home" class="btn btn-primary">Create New Car</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Color</th>
                <th>Type</th>
                <th>Rating</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.id</td>
                    <td>@car.model</td>
                    <td>@car.color</td>
                    <td>@car.type</td>
                    <td>@car.raiting</td>
                    <td>@car.name</td>

                    <td class="action-buttons">
                        <a asp-action="EditCar" asp-route-id="@car.id" class="btn btn-sm btn-primary">Edit</a>
                        <form asp-action="DeleteCar" asp-route-id="@car.id" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this car?');">
                            <button type="submit" class="btn btn-sm delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>